/* media query-lg */
@media screen and (max-width: 1100px){

    .section .section-card-lg{
        /* calc(100% / 4 - ((1rem / 4) * 3)); */
        flex-basis: calc(100% / 4 - ((.5rem / 4) * 3));
    }

    .wrap-lg{
        flex-wrap: wrap;
    }
}

/* media-query-md */
@media screen and (max-width: 700px){

    .section .section-card-md{
        flex-basis: calc(100% / 2 - ((.5rem / 2) * 1));
    }

    .album-played-icons{
        flex-direction: column;
    }

    .player-controls-time .time-bar{
        margin-right: .6rem;
        margin-left: .6rem;
    }

}

/* media query-s */
@media screen and (max-width: 600px){

    .sidebar{
        width: auto;
        padding-left: .3rem;
        padding-right: .3rem;
        align-items: center;
    }

    .sidebar .sidebar-bottom-info .install{
        border: 0;
    }

    .sidebar-bottom-info .user-name span img{
        width: 20px;
        display: inline-block;
    }

    .d-none-xs{
        display: none;
    }

    .sidebar .logo-small{
        display: block;
    }


    .player-controls-time .time-bar{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .album-played-name{
        font-size: .9rem;
    }

    .album-played-icons{
        font-size: .9rem;
        padding-left: .5rem;
    }
}

/* media query-xs */
@media screen and (max-width: 400px){
    .section .section-card-xs{
        flex-basis: 100%;
    }
}

