*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.app-container{
    height: 100vh;
    display: flex;
    flex-direction: column;

    /* solo debug */
    background-color: aqua;
}

/* utility */
:root {
    --color-primary: #ffffff;
    --color-secondary: #787B80;
}

.d-flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.flex-grow{
    flex-grow: 1;
}

.flex-shrink{
    flex-shrink: 0;
}

.align-center{
    align-items: center;
}

.gap-1{
    gap: 1rem;
}

.overflow-hidden{
    overflow: hidden;
}

/* sidebar */
.sidebar{
    min-width: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    /* debug */
    background-color: #000000;
    color: var(--color-secondary);
    font-weight: bold;
}

.sidebar .sidebar-logo{
    width: 120px;
}

.sidebar .sidebar-nav{
    list-style: none;
    padding: 1rem 0;
    /* debug */
    
}

.sidebar-nav a{
    text-decoration: none;
    color: var(--color-secondary);
    padding-bottom: .3rem;
    padding-right: 1rem;

}

.sidebar-nav a img{
    width: 20px;
}

.sidebar-nav a .label{
    font-size: .8rem;
    padding-left: .3rem;
}

.sidebar .sidebar-playlist{
    display: flex;
    flex-direction: column;
    /* debug */
}

.sidebar-playlist .sidebar-playlist-title{
    color: var(--color-primary);
    padding-bottom: .5rem;
    text-transform: uppercase;
} 

.sidebar-playlist .add-playlist{
    padding-bottom: 1rem;
}

.sidebar-playlist .add-playlist .add-playlist-icon{
    background-color: #A3A3A3;
    width: 30px;
    height: 30px;
    padding: .3rem;
    font-size: 1.4rem;
    border: 0;
    line-height: 1.5rem;
    vertical-align: middle;
}

.sidebar-playlist .add-playlist span{
    font-size: .9rem;
    padding-left: .2rem;
}

.sidebar-playlist .sidebar-playlist-list{
    list-style: none;
    font-size: .8rem;
    overflow: auto;
}

.sidebar-playlist .sidebar-playlist-list .sidebar-playlist-list-item{
    padding-bottom: 1rem;
}



.sidebar .sidebar-bottom-info .install{
    border-bottom: 1px solid var(--color-secondary);
    padding-bottom: .3rem;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.sidebar-bottom-info .install span img{
    padding-right: .3rem;
    width: 20px;
    vertical-align: middle;
}

.sidebar-bottom-info .user-name span img{
    border-radius: 50%;
    background-color: var(--color-secondary);
    width: 23px;
    vertical-align: middle;
    margin-right: .3rem;
}

.sidebar-bottom-info .user-name span:last-child{
    color: var(--color-primary);
}

/* display-container */
.display-container{
    /* debug */
    background-color: #141922;
}

/* display upgrade */
.display-container .display-upgrade{
    background-color: #080B12;
    padding-top: .5rem ;
    padding-bottom: 1rem;
    /* debug */
}

.display-upgrade .upgrade-button{
    text-align: right;
}

.display-upgrade .upgrade-button a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .7rem;
    padding: .5rem 2rem;
    background-color: #080B12;
    border: 1px solid var(--color-primary);
    border-radius: 25px;
    color: var(--color-primary);
}

/* display-container/display-nav */

.display-container .display-nav{
    /* debug */
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.display-nav .display-nav-list{
    text-align: center;
}

.display-nav-list .display-nav-list-item{
    display: inline-block;
    list-style: none;
    
}

.display-nav-list .display-nav-list-item a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem .5rem;
    font-size: .7rem;
    color: var(--color-secondary);
    
}

/* display albums/ section */
.display-albums{
    padding-left: 1rem;
    overflow: auto;
}

.section{
    color: var(--color-primary);
    padding-bottom: 2rem;
}

.section .section-text{
    padding-bottom: 1.5rem;
}

.section .section-card{
    flex-basis: calc(100% / 6 - 1rem);
    text-align: center;
}

.section-card .card-img{
    padding-bottom: .7rem;
}

.section-card .card-img img{
    width: 100%;
    aspect-ratio: 1/1;
}

.section .section-subtitle,
.section-card .card-subtitle{
    color: var(--color-secondary);
    padding-top: .5rem;
}

/* player */
.player{
    background-color: #282828;
    color: var(--color-primary);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
     /* debug */
    padding: 0 .5rem;
}

/* album-played */
.player .album-played{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    max-width: calc(200px - .5rem);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.album-played .album-played-img{
    padding-right: .5rem;
}

.album-played .album-played-img img{
    width: 40px;
    display: block;
}

.album-played .album-played-name h6{
    color: var(--color-secondary);
}

.album-played-icons{
    display: flex;
    gap: .5rem;
    color: var(--color-secondary);
}


/* player-controls */
.player .player-controls{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 40%;
    max-width: 600px;
    justify-content: space-between;
}

.player-controls .player-controls-icon{
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    align-items: center;
}

.player-controls-icon .fa-circle-play{
    font-size: 1.7rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.player-controls .player-controls-time{
    display: flex;
}

.player-controls-time .timer{
    font-size: .7rem;
}

.player-controls-time .time-bar{
    height: 3px;
    background-color: var(--color-secondary);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 50px;
}

.time-bar .time-bar-advancement{
    height: 3px;
    background-color: var(--color-primary);
    width: 20%;
    border-radius: 50px;
}

/* player-volume */
.player .player-volume{
    padding: 1rem 0;
    width: 25%;
    max-width: calc(200px - .5rem);
}

.player-volume .player-volume-icon{
    font-size: .8rem;
}

.player-volume .player-volume-icon i{
    padding-right: 1rem;
}

.player-volume .player-volume-volume-bar{
    height: 3px;
    background-color: var(--color-secondary);
    border-radius: 50px;
}

.player-volume-volume-bar .volume-bar-progres{
    height: 3px;
    background-color: var(--color-primary);
    border-radius: 50px;
    width: 20%;
}
